<h1>New Batch</h1>
<h2>Current User</h2>
<form>
	<label><select ng-model="newBatch._customer">
		<option ng-repeat= "customer in customers" value ="{{customer._id}}">{{customer.name}}</option>
	</select></label>
	<label><select>
		<option ng-repeat ="item in peritems">{{item.name}}</option>
	</select></label>
	<label><select>
		<option ng-repeat="item in perpounds">{{item.name}}</option>
	</select></label>
	<label><input type="date" name="due date" value="Expected Due Date"></label>
	
	

	<table>
		<thead>
			<th>Item</th>
			<th>Price</th>
			<th>Quantity</th>
			<th>Subtotal</th>
		</thead>
		<tbody>
			<tr>
				<td>
					
				</td>
			</tr>
		</tbody>
	</table>

	<input type="submit" name="submit" value="View Summary">
	<!-- we want another button to appear for confirmation -->
</form>
<!-- <script type="text/javascript">
	$(document).ready(function(){

	})

</script> -->