<h1>New Batch</h1>
<h2>Current User</h2>
<!-- add the get function for current user that is logged in -->
<form>
	<select id="customer_select">
	<!-- for loop to create options customer.name -->
		<option></option>
	</select>
	<select id="per_item_selector">
		<!-- for loop to view options for per item types -->
		<option></option>
	</select>
	<select id="per_pound_selector">
		<!-- for loop to view options for per pound selector -->
		<option></option>
	</select>
	<input type="timedate" name="due date" value="Expected Due Date">
	<input type="submit" name="submit" value="View Summary">
	<!-- we want another button to appear for confirmation -->
</form>