<button><a href="#/batch">New Batch/Bago</a></button>
<button><a href="#/new_customer">New Customer / Bagong Customer</a></button>
<table id="processing_table">
	<thead>
		<tr>
			<th>Batch</th>
			<th>Customer</th>
			<th>Status</th>
			<th>Due Date</th>
		</tr>
	</thead>
</table>
<table id="completed_table">
	<thead>
		<tr>
			<th>Batch</th>
			<th>Customer</th>
			<th>Status</th>
			<th>Due Date</th>
		</tr>
	</thead>
</table>
<table id="completed_table"></table>
<button class="footer_button"><a href="#/customer_manage">Customer Management</a></button>
<button class="footer_button"><a href="#/item_manage">Item Management</a></button>