<button>New Batch/Bago</button>
<button>New Customer / Bagong Customer</button>
<table id="processing_table">
	<thead>
		<tr>
			<th>Batch</th>
			<th>Customer</th>
			<th>Status</th>
			<th>Due Date</th>
		</tr>
	</thead>
</table>
<table id="completed_table">
	<thead>
		<tr>
			<th>Batch</th>
			<th>Customer</th>
			<th>Status</th>
			<th>Due Date</th>
		</tr>
	</thead>
</table>
<table id="completed_table"></table>
<button class="footer_button">Customer Management</button>
<button class="footer_button">Item Management</button>