<h1>Edit Customer</h1>
<form ng-submit="">
  <!-- for loop through cust's info returned from db -->
  <label>Business Name: <input type="text" ng-model=""></label>
  <label>Contact Name: <input type="text" ng-model=""></label>
  <label>Phone: <input type="text" ng-model=""></label>
  <label>Email: <input type="text" ng-model=""></label>
  <label>Billing Address: <input type="text" ng-model=""></label>
  <label><input type="text"></label>
  <label><input type="text"></label>
  <input type="submit" value="Update Customer">
</form>
