<h1>Add New Item</h1>
<form ng-submit = "addItem()">
  <label>Name: <input type="text" ng-model="newItem.name"></label><br>
  <label>Type: <input type="text" ng-model="newItem.type"></label><br>
  <label>Size: <input type="text" ng-model="newItem.size"></label><br>
  <label class="radio">Per item<input type="radio" name="per" ng-model="newItem.per" value="item"></label>
  <label class="radio">Per pound<input type="radio" name="per" ng-model="newItem.per" value="pound"></label><br>
  <label>Price: <input type="text" ng-model="newItem.price"></label><br>
  <input type="submit" value="Add New Item">
</form>
<style media="screen">
	* {
	  font-family: arial;
	}
	h1 {
		font-size: 3.5em;
		margin-bottom: 1em;
		margin-top: 0;
	}
	input[type=text] {
	  width: 100%;
	  padding: 1em 1.67px;
	  margin: 0.4em 0;
	  box-sizing: border-box;
	  display: block;
	  border-radius: 5px;
	  font-size: 1.35em;
	}
	.radio {
		display: inline-block;
		margin: 0.6em 0 2.6em 0;
		width: 15%;
	}
	input[type=submit] {
	  width: 100%;
	  background:linear-gradient(#0066FF, #000066);
	  color: white;
	  padding: 1.0px 1.0px;
	  margin: 8px 0;
	  border: none;
	  border-radius: 0.3em;
	  cursor: pointer;
	  height:2em;
	  font-size:4em;
	}
	button {
	  background-color: red;
	  color: white;
	  border-radius: 5px;
	  font-size: 1.0em;
	}
</style>
